<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>ResourcesMonitoringPlatform</display-name>
	<welcome-file-list>
	  <welcome-file>index.html</welcome-file>
	  <welcome-file>index.htm</welcome-file>
	  <welcome-file>index.jsp</welcome-file>
	  <welcome-file>default.html</welcome-file>
	  <welcome-file>default.htm</welcome-file>
	  <welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
  
	<listener>
		<listener-class>com.dcits.listener.InitWeb</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>Weblogic</servlet-name>
		<servlet-class>com.dcits.servlet.WeblogicServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Weblogic</servlet-name>
		<url-pattern>/weblogic/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Linux</servlet-name>
		<servlet-class>com.dcits.servlet.LinuxServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Linux</servlet-name>
		<url-pattern>/linux/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Server</servlet-name>
		<servlet-class>com.dcits.servlet.ServerServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Server</servlet-name>
		<url-pattern>/server/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Tomcat</servlet-name>
		<servlet-class>com.dcits.servlet.TomcatServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Tomcat</servlet-name>
		<url-pattern>/tomcat/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>JVM</servlet-name>
		<servlet-class>com.dcits.servlet.JvmServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>JVM</servlet-name>
		<url-pattern>/jvm/*</url-pattern>
	</servlet-mapping>

</web-app>